<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="off" monitorInterval="1800">

	<!-- Log4j 2 包含了基于LMAX 分离库的下一代的异步日志系统，在多线程环境下，异步日志系统比 Log4j 1.x 和Logback 提高了10倍性能提升（吞吐量和延迟率 ） -->

	<properties>
		<!-- 日志备份目录 -->
		<!--<property name="BACKUP_HOME">./sc/sc-eureka/logs</property> -->
		<property name="BACKUP_HOME">./logs</property>
		<property name="PATTERN_FORMAT">%d{yy/MM/dd HH:mm:ss,SSS} %-6r [%-6p] [%-21t] %C.%M(%F:%L) - %m%n</property>
		
	</properties>

	<appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${PATTERN_FORMAT}" />
		</Console>

		<!-- 应用日志 -->
		<!-- <RollingRandomAccessFile name="BusinessLog" fileName="${BACKUP_HOME}/business.log" filePattern="${BACKUP_HOME}/business.%d{yyyy-MM-dd}.log"> -->
		<!-- <PatternLayout pattern="${PATTERN_FORMAT}" /> -->
		<!-- <Policies> -->
		<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
		<!-- </Policies> -->
		<!-- </RollingRandomAccessFile> -->
	</appenders>

	<loggers>
		<!-- 3rdparty Loggers -->
		<logger name="com.wangxin" level="debug" />
		<logger name="org.springframework" level="info" />
		<logger name="freemarker" level="info" />
		<logger name="org.hibernate" level="info" />
		<logger name="org.fasterxml" level="info" />
		<logger name="com.netflix" level="error" />
		<logger name="com.netflix.eureka.registry.AbstractInstanceRegistry" level="error" />
		<logger name="javax.el" level="info" />
		<logger name="org.apache" level="info" />

		<!-- Root Logger -->
		<root level="debug">
			<appender-ref ref="Console" />
			<!-- <appender-ref ref="BusinessLog" /> -->
		</root>

	</loggers>

</configuration>